@import 'styles';

.litter {
  position: relative;
  @include element-flex(column);
  gap: $spacing-4;
}

.group {
  @include element-flex(column);

  .label {
    @include body1;
    color: $color-foreground-dim;
  }

  .text {
    @include body1;
    color: $color-foreground;
  }
}

.status {
  padding: $spacing-1 $spacing-2;
  width: fit-content;
  color: $color-white;
  border-radius: $radius-m;

  &.can_reserve {
    background-color: $color-primary;
  }

  &.available {
    background-color: $color-primary;
  }

  &.no_reserve_slots {
    background-color: $color-accent;
  }

  &.already_given {
    color: $color-foreground;
    background-color: $color-background-4;
  }
}

.settingsBtn{
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}