.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

.innerContainer {
    width: 100%;
    box-sizing: border-box;
}