@import 'src/styles';

.container {
  @include element-flex(column, flex-start, stretch);
  gap: $spacing-6;
}

.comments {
  @include element-flex(column, flex-start, stretch);
  gap: $spacing-6;
}

.title {
  font-weight: $font-semiBold;
}

.averageRating {
  @include body2;
  color: $color-foreground-dim;
}

@media(max-width: 480px){
  .container{
    gap: $spacing-2;
  }
  .comments {
    @include element-flex(column, flex-start, stretch);
    gap: $spacing-2;
  }

  .title {
    font-size: $font-size-s;
  }
}