@import 'styles';

.container {
  width: 700px;
  height: 600px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; 
  background: #ffffff;
  border-radius: $radius-s;
  overflow: hidden;
}

.wrapper {
  width: 300px;
  height: 300px;
}

.control {
  width: 100%;
  @include element-flex(row, center, center);
  gap: $spacing-2;
  position: fixed;
  bottom: 0;
  padding-bottom: $spacing-2;
  left: 50%;
  transform: translateX(-50%);

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #00000000 0%, #00000050 100%);
    position: absolute;
    inset: 0;
    z-index: -1;
  }
}
