@import 'styles';

.container {
  @include element-flex(column, flex-start, stretch);
  gap: $spacing-6;
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: $spacing-6;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: $spacing-4;
}

.mapWrraper {
  display: flex;
  height: auto;
  border-radius: $radius-l;
  overflow: hidden; 
}
.map {
  width: 100%;
  height: 100%; 
}