// .map {
//   position: fixed;
//   width: 85vw; 
//   height: 70vh;
//   left: 50%;
//   top: 40%;
//   transform: translate(-50%, -50%);
//   padding: 2rem;
//   background-color: #ffffff;
//   border-radius: 1.6rem;
//   box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
//   z-index: 100;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   transition: opacity 0.3s ease, transform 0.3s ease;
//   opacity: 1;
// }
// .map {
//   position: sticky;
//   top: 5px;
//   width: 490px; 
//   height: 780px;
//   padding: 2rem;
//   z-index: 100;
//   flex-direction: row;
//   transition: opacity 0.3s ease, transform 0.3s ease;
//   opacity: 1;
// }
// @media (max-width: 1224px) {
//   .map {
//     position: fixed;
//     width: 85vw; 
//     height: 70vh;
//     left: 50%;
//     top: 40%;
//     transform: translate(-50%, -50%);
//     padding: 2rem;
//     background-color: #ffffff;
//     border-radius: 1.6rem;
//     box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
//     z-index: 100;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     transition: opacity 0.3s ease, transform 0.3s ease;
//     opacity: 1;
//   }
// }

// @media (max-width: 768px) {
//   .map {
//     width: 95vw;
//     height: 50vh; 
//   }
// }

.customMarker {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #4285F4;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image{
  width: 64px;
  height: 64px;
}

.label {
  position: absolute;
  top: -35px;
  left: -50%;
  background: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}