@import 'styles';

.searchbarWrapper {
  position: relative;
  width: 30rem;
}

.searchbarWrapperMobile {
  position: relative;
  width: 100%;
}

.resultsBar {
  position: absolute;
  width: 100%;
  max-height: 28rem;
  height: auto;
  justify-content: center;
  z-index: 5;
  background: $color-background-1;
  border: 1px solid $color-border;
  list-style: none;
  border-radius: $radius-m;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 3px;

    &:hover {
      background: #a8a8a8;
    }
  }


  .searchItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    margin: 5px;
    padding: 10px;
    border-radius: $radius-m;
    transition: background-color 200ms ease-in;

    &:hover{
      background-color: #f1eded;
    }
  }
}

.NoSearchedItem{
  width: 100%;
  margin: 5px;
  padding: 10px;
  border-radius: $radius-m;
}

.resultsBarActive {
  display: block;
}

.organizationImg{
  border-radius: $radius-m;
}