@import 'src/styles';

.wrapperArea {
  position: relative;
}

.textarea {
  @include appearance(none);
  font-family: $main-font;
  width: 100%;
  min-width: 29.5rem;
  color: $color-foreground;
  @include body2;
  padding: $spacing-3 $spacing-4;
  border-radius: $radius-m;
  border-width: 0.1rem;
  border-style: solid;
  border-color: $color-border;
  height: $size-button-height;
  background-color: $color-background-1;

  transition: border-color $transition-main, box-shadow $transition-main;

  &:hover {
    cursor: text;
  }

  &:focus {
    box-shadow: $shadow-input-active;
    outline: none;
  }

  &:disabled {
    color: $color-foreground-dim;
    cursor: not-allowed;
  }

  &.error {
    border-color: $border-input-error;
    box-shadow: $shadow-input-error;
  }

  &.error:focus {
    outline-color: $border-input-error;
    box-shadow: $shadow-input-error;
  }

  &.transparentBg {
    background-color: transparent;
  }

  &::placeholder {
    color: $color-foreground-dim;
  }

  @include placeholder {
    @include body2;
    color: $color-foreground-dim;
  }
}

.error {
  box-shadow: 0 0 0 0.2rem $color-danger-light;
}

.counter {
  position: absolute;
  right: $spacing-2;
  bottom: $spacing-1;
  @include caption;
  color: $color-foreground-dim;
}
