@import 'styles';

.post {
  @include element-flex(column, flex-start, stretch);
  gap: $spacing-5;
  width: 100%;
  max-width: 70rem;
  background-color: $color-background-1;
  padding: $spacing-6;
  border-radius: $radius-m;
}

.header {
  @include element-flex(row, space-between, center);
  gap: $spacing-4;
  position: relative;///

  .author {
    @include element-flex(row, center, center);
    gap: $spacing-3;
    @media (max-width: 550px) {
      gap: $spacing-2;
    }
    .avatar {
      width: 5rem;
      height: 5rem;
      @media (max-width: 550px) {
        width: 4rem;
        height: 4rem;
      }
    }

    .name {
      @include body1;
      color: $color-foreground;

      @media (max-width: 480px) {
        font-size: $font-size-s;
      }
    }
  }
  .headerContent{
    @include element-flex(row, center, center);
    gap: $spacing-2;
  }
}

.text {
  @include body1;
  color: $color-foreground;

  @media (max-width: 480px) {
    font-size: $font-size-xs;
  }
}

.image {
  margin-top: $spacing-4;
  border-radius: $radius-m;
}

.postContent{
  @include element-flex(column);
  gap: $spacing-2;
}

.footer {
  @include element-flex(row, space-between, center);
  gap: $spacing-4;

  .time {
    @include body2;
    color: $color-foreground-dim;
    flex-shrink: 0;
    
    @media (max-width: 550px) {
      font-size: $font-size-xxs;
    }
  }

  .buttons {
    @include element-flex(row, flex-end, center);
    gap: $spacing-2;
    width: 100%;
    @media (max-width: 480px) {
      @include element-flex(row, flex-end, center);
    }
  }

  @media (max-width: 480px) {
    @include element-flex(column, center);
  }
}

.settingsWrapper {
  position: relative;
  display: inline-block;
}

.settings {
  position: absolute;
  top: -90%;   
  right: -17rem;
  margin-top: -7rem;
  display: flex;
  flex-direction: column;
  min-width: 170px;
  padding: 0.5rem 0;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0.8rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 20;
  animation: fadeIn 0.2s ease;
}

.settingsBtn{
  width: 100%;
  padding: 0.75rem 1rem;
  background: transparent;
  border: none;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f5f5f5;
  }

  &:active {
    background-color: #e0e0e0;
  }
}


.backdrop {
  position: fixed;
  inset: 0; // shorthand for top: 0; right: 0; bottom: 0; left: 0
  background-color: rgba(0, 0, 0, 0.4); // or your theme color
  z-index: 9; // should be below the comment card
  backdrop-filter: blur(2px); // optional: blur for fancy look
}