@import 'styles';

.card {
  @include element-flex(column, center, stretch);
  gap: $spacing-6;
  width: 35rem;

  @include phoneWidth {
    width: 100%;
  }
}

.header {
  @include element-flex(column, flex-start, center);

  .title {
    @include title2;

    color: $color-foreground;
  }

  .subtitle {
    @include body1;
    color: $color-accent;
    text-align: center;
  }
}

.form {
  @include element-flex(column, flex-start, stretch);
  gap: $spacing-6;
  width: 100%;
}

.footer {
  @include element-flex(column, center, center);
  gap: $spacing-1;
}

.labelLink {
  align-self: center;
}
