@import 'styles';

.container {
  @include element-flex(column, flex-start, stretch);
  gap: $spacing-6;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: $spacing-6;
}

.description {
  white-space: pre-wrap;
}
