@import 'styles';

.opinion{
  @include element-flex(column, flex, wrap);
  width: 100%;
  max-width: 100%;
  gap: $spacing-2;
  font-size: $font-size-s;
  padding: $spacing-6;
  border-radius: $radius-m;
  background-color: $color-white;
  color: $color-black;

    @media (max-width: 600px) {
        padding: $spacing-4;
        font-size: $font-size-xs;
      }

    @media (max-width: 480px) {
        padding: $spacing-4;
        font-size: $font-size-xxs;
    }
}

.opinionTitle {
  display: flex;
  flex-direction: column;
  padding-left: $spacing-6;

  p {
    color: #798177;
  }

  @media (max-width: 600px) {
    padding-left: $spacing-3;
  }
}

.recomendation {
  margin-left: auto;  
}

.comments{
    padding: $spacing-3 $spacing-6;

    .userComInfo {
      display: flex;
      align-items: flex-start;
      gap: $spacing-4; 
    
      @media (max-width: 600px) {
        gap: $spacing-2;
      }
    }

    @media (max-width: 600px) {
      gap: $spacing-2;
    }
}

.userNameData {
  display: flex;
  flex-direction: column;

  p {
    color: #798177;
    @media (max-width: 480px) {
        font-size: $font-size-xxs;
        }
  }

  h4 {
    @media (max-width: 480px) {
        font-size: $font-size-xs;
        }
  }

}

.comContainer {
  @include element-flex(column, flex-start);
  width: 100%;
  gap: $spacing-4;
  padding-left: $spacing-6;

  @media (max-width: 600px) {
    padding-left: $spacing-3;
  }
}

.commentWrraper{
    @include element-flex(flex, row);
    width: 100%;
    gap: $spacing-4;
}

.userComment {
  padding-top: $spacing-2;
}

.avatar{
    margin-top: 10px;
}