@import 'styles';

.container {
  @include element-flex(column, space-between, stretch);
  gap: $spacing-6;
}

.horizontal {
  .header {
    @include element-flex(column);
    gap: $spacing-2;
  }

  .contact {
    @include element-flex(column, center, flex-end);
    gap: $spacing-2;

    @include desktopWidth {
      @include element-flex(column, flex-start, center);  //row
      // flex-wrap: wrap;
    }
  }
}

.vertical {
  @include element-flex(column, flex-start, center);

  .header {
    @include element-flex(column, flex-start, center);
    gap: $spacing-2;
  }

  .name {
    text-align: center;
  }

  .contact {
    @include element-flex(row, center, center);
    gap: $spacing-2;
    width: 100%;
  }

  .location {
    margin: 0 auto;
  }
}

.row {
  @include element-flex(row, space-between, center);
  gap: $spacing-6;
  flex-wrap: wrap;

  // @include desktopWidth {
  //   @include element-flex(column, flex-start, flex-start);
  // }
}

.name {
  @include title3;
  font-weight: $font-semiBold;
}

.logo {
  height: 10rem;
  object-fit: contain;
}

.contact {
  @include element-flex(column, center, flex-end);
  gap: $spacing-2;

  @include desktopWidth {
    @include element-flex(row, flex-start, center);
    flex-wrap: wrap;
  }
}

.location {
  display: inline-block;

  .icon {
    display: inline-block;
    margin-right: $spacing-1;
    width: 2.4rem;
    height: 2.4rem;
    vertical-align: top;
  }

  .text {
    @include body2;
    color: $color-foreground;
  }
}

@media (max-width: 480px) {
  .container {
    gap: $spacing-4;
    max-width: 90%; 
  }

  .contact {
    gap: $spacing-1;

    .location .icon {
      width: 3rem;
      height: 3rem;
    }
  }

  .logo {
    height: 6rem; // zmniejsz logo
  }

  .name {
    font-size: 2rem; // lub użyj np. @include title4
  }

  .location .text {
    font-size: 1.7rem;
  }

  .row {
    gap: $spacing-4;
  }
} 