@import 'styles';

.container {
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-height: 90vh;
  max-width: 1200px;
  gap: $spacing-3;
  background: $color-white;
  color: $color-black;
  padding: $spacing-6;
  border-radius: $radius-l;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  z-index: 10;

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  @media (max-width: 1300px) {
    max-height: 70vh;
    max-width: 90%;
    padding: $spacing-4;
  }

  @media (max-width: 600px) {
    max-height: 50vh;
  }

  @media (max-width: 480px) {
    max-height: 45vh;
  }
}

.postCreate{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.comments {
  display: flex;
  flex-direction: column;
  max-height: 300px;  
  overflow-y: auto;
  padding-right: $spacing-2;
  gap: $spacing-5;

  @media (max-width: 600px) {
    max-height: 25vh;
  }

  @media (max-width: 480px) {
    max-height: 20vh;
  }

  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
}

.dividerWrapper {
  margin: $spacing-4 0; // or e.g. 1.5rem 0
}

.image {
  width: 5rem;
  height: 5rem;
}
