@import 'styles';

.container {
  @include element-flex(column, flex-start, stretch);
  gap: $spacing-7;
  width: 100%;
}

.list {
  @include element-flex(column, flex-start, stretch);
  gap: $spacing-4;
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
}
