@import 'styles';

.container {
  @include element-flex(column, flex-start, stretch);
  gap: $spacing-7;
  width: 100%;
}

.buttons {
  @include element-flex(row, space-between, center);
  gap: $spacing-4;
}

.filters {
  max-height: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;
  transition: $transition-main;

  &.show {
    max-height: 100rem;
    overflow: visible;
    visibility: visible;
    pointer-events: all;
  }
}

.map {
  max-height: 0;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;

  &.show {
    margin-top: 100px;
    max-height: 100rem;
    overflow: visible;
    visibility: visible;
    pointer-events: all;
    justify-content: center;
    align-items: center;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: $spacing-4;
}
