@import 'styles';

.card {
  // z-index: 0;
  // position: relative;
  // max-width: 300px;
  // min-width: 250px;
  // min-height: 320px;
  // border-radius: $radius-m;
  // padding: $spacing-4;
  // background-size: cover;
  // background-position: center;
  // transition: background $transition-main; 
  z-index: 0;
  position: relative;
  width: 100%;
  min-width: unset;
  max-width: unset;

  max-width: 300px;
  border-radius: $radius-m;
  padding: $spacing-4;
  background-size: cover;
  background-position: center;
  transition: background $transition-main; 

  &:hover {
    .gradient {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }

    .hoverContent {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  .settingsContainer {
    position: absolute;
    z-index: 1000;
    top: $spacing-4;
    right: $spacing-4;
  }

  @media (min-width: 768px) {
    min-width: 300px;
    min-height: 350px;
  }

  // @media (max-width: 480px) {
  //   height: 180px;
  //   padding: $spacing-3;
  // }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.content {
  z-index: 0;
  position: absolute;
  inset: $spacing-4;
  @include element-flex(column, space-between, flex-start);
  gap: $spacing-4;
}

.gradient {
  position: absolute;
  z-index: 0;
  inset: 0;
  border-radius: $radius-m;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.55) 80%, rgba(0, 0, 0, 0.8) 100%);
  transition: $transition-main;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: $radius-m;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
    opacity: 0;
    visibility: hidden;
    transition: $transition-main;
  }
}

.top {
  @include element-flex(row, space-between);
  gap: $spacing-2;
  width: 100%;
}

.about {
  @include element-flex(row, flex-start, center);
  gap: $spacing-1;
  flex-wrap: wrap;
  width: 100%;
}

.badge {
  padding: $spacing-1 $spacing-2;
  @include body1;
  width: fit-content;
  min-width: 3rem;
  font-size: $font-size-s;
  border-radius: $radius-m;
  text-align: center;

  &.title {
    color: $color-white;
    background-color: rgba($color: #000000, $alpha: 0.8);
    font-weight: $font-medium;
  }

  &.age {
    color: $color-foreground;
    background-color: rgba($color: #B1D800, $alpha: 0.8);
    font-weight: $font-medium;
  }

  &.characteristics {
    color: $color-white;
    background-color: rgba($color: #277d23, $alpha: 0.8);
    // @media (max-width: 1300px) {
    //   font-size: 12px;
    //   min-width: 3rem;
    //   // padding: $spacing-4;
    // }
  }

  &.gender {
    @include element-flex(row, center, flex-start);
    gap: $spacing-1;
    color: $color-foreground;
    background-color: $color-background-3;
  }

  &.size {
    color: $color-white;
    background-color: rgba($color: #4e4e4e, $alpha: 0.8);
  }

  &.ageText {
    color: $color-white;
    background-color: rgba($color: #4e4e4e, $alpha: 0.8);
  }

  @media (min-width: 768px) {
    padding: $spacing-1 $spacing-3;
    min-width: 3rem;
    // font-size: $font-size-m;
  }

  // @media (max-width: 480px) {
  //   padding: $spacing-1 $spacing-2;
  //   min-width: 3rem;
  //   font-size: $font-size-s;
  // }
}

.hoverContent {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  @include element-flex(column, center, center);
  gap: $spacing-3;//4
  width: 100%;
  transition: $transition-main;

  .data {
    @include element-flex(column, flex-start, center);
    gap: $spacing-1;
  }
}

.buttonCard{
  max-width: 16rem;
  height: 4.3rem;
  color: #000;
}

.bottom {
  @include element-flex(row, center, center);
  width: 100%;
}

.location {
  @include element-flex(row, flex-start, center);
  gap: $spacing-1;
  color: $color-white;
}

.addBookmark {
  @include flex-center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: $color-background-1;
  border-radius: 50%;
  cursor: pointer;

  svg {
    transition: fill 0.3s ease;
  }

  &:hover {
    svg {
      fill: $color-accent;
    }
  }

  &--active {
    svg {
      fill: $color-accent;
    }
  }
}