@import 'styles';

.container {
  @include element-flex(column, center, stretch);
  gap: $spacing-6;
  width: 100%;
}

.header {
  @include element-flex(row, space-between, center);
  gap: $spacing-6;

  .title {
    @include title3;
  }

  .highlight {
    color: $color-primary;
  }
}

.list {
  @include element-flex(row, flex-start, stretch);
  gap: $spacing-4;
  width: 100%;

  .item {
    width: 27rem;
    flex-shrink: 0;
  }
}
