@import 'styles';

.container {
  @include element-flex(column, flex-start, stretch);
  gap: $spacing-7;
  width: 100%;
}

.list {
  flex: 1; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: $spacing-4;
  transition: $transition-main;
  margin: 20px 0;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: $spacing-4;
  margin-top: 2rem;///
}

// @include phoneWidth{
//   .btnAdd{
//     max-width: 150px;
//   }
// }
.btnAdd{
  max-width: 250px;
}
.modalAddWin{
  // max-height: 90vh;
  max-width: 1200px;

  // @include custom-scrollbar;
}