@import 'styles';

.baner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 371px;
    border-radius: $radius-m;
    color: #fff;

    background-color: gray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background $transition-main;

    z-index: 0;
}

// .container{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     gap: 2.4rem;
//     width: 613px;
//     h1{
//         font-weight: 600;
//         font-size: 36px;
//         text-align: center;
//     }
//     p{
//         font-weight: 500;
//         font-size: 16px;
//         line-height: 130%;
//         text-align: center;
//     }
// }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.3rem;
    width: 100%;
    h1{
        font-weight: 600;
        font-size: 20px;
        text-align: center;
    }
    p{
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        text-align: center;
    }
}

// .buttonCard{
//     width: 140px;
//     height: 40px;
//     font-size: 12px;
// }

@media (min-width: 768px){
    .container{
    gap: 2.4rem;
    width: 613px;
        h1{
            font-size: 36px;
        }
        p{
            font-size: 16px;
        }
    }
}
@media (min-width: 1158px){
    
}

.greenText{
    color: $color-primary;
}