@import 'styles';

.menu{
    display: flex;
    flex-direction: column;
    padding: $spacing-4 ;
    background-color: #fff;
    gap: $spacing-2;
    width: 400px;
    height: 100%;
    border-radius: $radius-m;
}
.userMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.stack{
    @include element-flex(row, flex-end, center);
    gap: $spacing-2;
}

.nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: $spacing-1;
  }
  
  .topNav,
  .bottomNav {
    gap: $spacing-1;
  }
  
  .bottomNav {
    margin-top: auto;
    gap: $spacing-1;
  }