@import 'styles';

@mixin info-blocks() {
  @include element-flex(column, flex, wrap);
  font-size: $font-size-s;
  border-radius: $radius-m;
  padding: 16px;
  width: 100%;
  min-width: 0;       
  background-color: $color-white;
  flex: 1 1 0;

  @media (max-width: 1400px) {
      padding: 14px;
      font-size: $font-size-xs;
  }

  @media (max-width: 1000px) {
    padding: 12px;
    font-size: $font-size-xs;
  }

  @media (max-width: 550px) {
      padding: 10px;
      font-size: $font-size-xs;
    }

  //   @media (max-width: 480px) {
  //     padding: 8px;
  //     font-size: $font-size-xxs;
  //   }
}

//Characteristics Block
.characteristicsBlock {
  @include info-blocks();
  position: relative;
  color: #000000;
  padding: 12px;

  @media (max-width: 550px) {
    font-size: $font-size-xxs;
  }

  @media (max-width: 480px) {
    font-size: $font-size-s;
  }
}

.characteristicContent{
  max-height: 350px;
  overflow-y: auto; 
}

.characteristicContent::-webkit-scrollbar {
  display: none;
}

.customScrollbar {
  position: absolute;
  top: 5px;
  right: 2px;
  width: 6px;
  height: 100%;
  background: transparent;
  pointer-events: none;
}

.customThumb {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background: #9f9e9e;
  border-radius: 3px;
  cursor: pointer;
  pointer-events: auto;
}

.AnimalCharacter{
    @include element-flex(flex, row);
    gap: 6px;
    padding: 12px;
    @media (max-width: 550px) {
        padding: 10px;
        gap: 3px;
        font-size: $font-size-xxs;
    }
    // @media (max-width: 480px) {
    //     gap: 5px;
    //     font-size: $font-size-xxxs;
    // }
    @media (max-width: 480px) {
        gap: 6px;
        font-size: $font-size-s;
    }
}
.caracteristicImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: $radius-s;
    border: 1px solid #DCDFD8; 
    gap: 12px;
    @media (max-width: 550px) {
        gap: 8px;
    }
    // @media (max-width: 480px) {
    //     padding: 3px;
    //     width: 22px;
    //     height: 22px;
    //     border-radius: 8px;
    //   }
}