@import 'styles';

.container {
    @include element-flex(row, space-between, stretch);
    gap: $spacing-9;
    width: 100%;
}

.infoSection{
    @include element-flex(column, flex-start, stretch);
    gap: $spacing-5;
}

.inputWrraper{
    position: relative;
}
.inputIcon{
    position: absolute;
    top: 50%;
    right: 2rem; 

    cursor: pointer;
}

.inputs {
    width: 30rem;
}

.avatar {
    width: 15rem;
    height: 15rem;
}

.userData{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-top: 3rem;

    p{
        font-size: $font-size-xs;
        color: $color-foreground-dim;
    }

    span{
        color: $color-gray-700;
        margin-left: 1rem;
    }
}

.flexRow {
    @include element-flex(row, flex-start, center);
    gap: $spacing-4;
}

.fullWidth {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-4;
    width: 100%;
}

.btns{
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    align-self: flex-start;
}

.btnDel{
    background-color: $color-danger;
}

.backdrop {
    position: fixed;
    inset: 0; // full screen
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }
  
  .DeleteCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    z-index: 100;
  }
  
  .btns {
    display: flex;
    gap: 3rem;
  }

  .newAvatar{
    // // width: 200px;
    // overflow: hidden;
    border-radius: 100%;
  }

  .imageChanger {
    display: inline-flex;
    align-items: center;
    gap: 0.35rem;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: $color-primary;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: color 0.25s ease, opacity 0.25s ease;
  
    &:hover {
      color: $color-primary-hover;
      opacity: 0.85;
    }
    &:focus {
        color: $color-primary-active;
        opacity: 0.85;
      }
  }