@import 'styles';

.card{
    width: 100%;
    padding: 34px 15px;
    border-radius: $radius-m;
    background-color: $color-primary;
    color: #000;
}

@media (min-width: 768px){
    .card{
        padding: 48px 24px;
    }
}

// .textContent{
//     display: flex;
//     flex-direction: column;
//     gap: 0.8rem;
//     width: 469px;

//     margin-bottom: 4.4rem;

//     h3{
//         font-weight: 700;
//         font-size: 16px;

//     }
//     h4{
//         font-weight: 600;
//         font-size: 14px;
//         line-height: 130%;
//     }
//     p{
//         font-weight: 400;
//         font-size: 14px;
//         line-height: 130%;
//     }
// }

@media (max-width: 768px){
    .logo{
        width: 110px;
    }
}

.textContent{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 470px;

    margin-bottom: 3rem;

    h3{
        font-weight: 700;
        font-size: 14px;

    }
    h4{
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
    }
    p{
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
    }
}

@media (min-width: 768px){
    .textContent{
        gap: 0.8rem;
        // width: 469px;
    
        margin-bottom: 4.4rem;
    
        h3{
            font-size: 16px;
    
        }
        h4{
            font-size: 14px;
        }
        p{
            font-size: 14px;
        }
    }
}

.divider{
    background-color: #000;
}

.politic{
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    
    .link{
        font-weight: 700;
        font-size: 14px;
    }
}

.privicyBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4.4rem;

    .footerGreenLink{
        font-weight: 500;
        font-size: 14px;
        color: $color-accent;
    }
}

@media (max-width: 568px){
    .politic{
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        
        .link{
            line-height: 120%;
            font-size: 12px;
        }
    }
    
    .privicyBlock{
        margin-top: 3rem;
    
        .footerGreenLink{
            width: 120px;
            line-height: 120%;
            font-weight: 500;
            font-size: 12px;
            color: $color-accent;
        }
    }
}