@import 'styles';

.container {
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: 90vh;
    max-width: 800px;
    gap: $spacing-3;
    background: $color-white;
    color: $color-black;
    padding: $spacing-6;
    border-radius: $radius-l;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    z-index: 10;
  
    @media (max-width: 900px) {
      max-width: 700px;
    }
  
    @media (max-width: 768px) {
      max-width: 90%; 
      padding: $spacing-5;
    }
  
    @media (max-width: 600px) {
      padding: $spacing-4;
    }
  
    @media (max-width: 480px) {
      padding: $spacing-3;
    }
  }
  


.copyingLink{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap:  $spacing-3;
}

.iconContainer {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    border-radius: 7px;
    cursor: pointer;

    &:hover{
        background-color: rgb(211, 211, 211);
    }
  }
  
  .iconCopy {
    width: 24px;
    height: 24px;
    display: block;
  }

  .icon {
    width: 40px;
    height: 40px;
    display: block;
  }

