@import 'styles';

@mixin info-blocks() {
    @include element-flex(column, flex, wrap);
    font-size: $font-size-s;
    border-radius: $radius-m;
    padding: 16px;
    width: 100%;
    min-width: 0;       
    background-color: $color-white;
    flex: 1 1 0;

    @media (max-width: 1400px) {
        padding: 14px;
        font-size: $font-size-xs;
    }

    @media (max-width: 1000px) {
      padding: 12px;
      font-size: $font-size-xs;
    }

    @media (max-width: 550px) {
        padding: 10px;
        font-size: $font-size-xs;
      }

    //   @media (max-width: 480px) {
    //     padding: 8px;
    //     font-size: $font-size-xxs;
    //   }
  }


.mainBlock {
    font-family: 'Raleway', sans-serif;
}
.infoWrapper {
    display: grid;
    align-items: start; 
    grid-template-columns: 2fr 1fr; 
    gap: $space-padding-page;
    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 1024px) {
        grid-template-columns: 2fr 1fr; 
    }
    @media (max-width: 880px) {
        grid-template-columns: 1fr;
    }
  }

.infoContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    // padding: 0 16px;
}

.blocksContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr)); 
    gap: $spacing-5;
    width: 100%;
    max-width: 100%;

    @media (max-width: 1400px) {
        gap: $spacing-3;
        grid-template-columns: repeat(2, minmax(230px, 1fr));
      }

    @media (max-width: 768px) {
        gap: $spacing-2;
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @media (max-width: 480px) {
        gap: $spacing-2;
        grid-template-columns: repeat(1, 1fr); // Also gives one column
      }
  }
  
//About Animal Block
.aboutAnimalBlock {
    @include info-blocks();
    gap: $spacing-2;
    color: #9f9b9b;

    @media (max-width: 1400px) {
        gap: $spacing-1;
        font-size: $font-size-xs;
    }
    @media (max-width: 1200px) {
        gap: $spacing-2;
      }
    @media (max-width: 1024px) {
        gap: $spacing-1;
      }
    @media (max-width: 900px) {
        gap: $spacing-2;
        font-size: $font-size-xs;
    }
    @media (max-width: 550px) {
        font-size: $font-size-xxs;
    }
    // @media (max-width: 480px) {
    //     padding: 8px;
    // }
    @media (max-width: 480px) {
        gap: $spacing-1; 
        font-size: $font-size-s;
    }
  }


  //Contacts Block
  .contactsBlock {
    @include info-blocks();
    color: #000;
    // @media (max-width: 550px) {
    //     font-size: $font-size-xxs;
    // }
  }
  
  .mainInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  
    // @media (max-width: 480px) {
    //   gap: 10px;
    // }
  }
  
  .logoFundation {
    @include element-flex(row, flex);
    gap: 3px;
  
    .fundation {
      font-size: $font-size-xs;
      color: #9f9b9b;
  
    //   @media (max-width: 480px) {
    //     font-size: 10px;
    //   }
    }
  }
  
  .contactInfo {
    @include element-flex(column, flex);
    justify-content: center;
    align-items: center;
    gap: 16px;
  
    // @media (max-width: 480px) {
    //   gap: 10px;
    // }
  }
  
  .location {
    @include element-flex(row, flex);
    gap: 3px;
    font-size: $font-size-xs;
  
    // @media (max-width: 480px) {
    //   font-size: 12px;
    // }
  }
  
  .phoneNumButton {
    display: flex;
    align-self: flex-end;
    width: 100%;
    height: 48px;
    border-radius: $radius-m;
    border: 2px solid #B1D800;
    gap: 12px;
    padding: $spacing-6;
    background-color: $color-white;
    cursor: pointer;

    // @media (max-width: 480px) {
    //     height: 35px;
    //     gap: 8px;
    //     padding: $spacing-4;
    //     border-radius: $radius-s;
    // }
  
    .call {
      font-size: $font-size-s;

      @media (max-width: 1400px) {
        font-size: $font-size-xs;
        }
        // @media (max-width: 480px) {
        //     font-size: $font-size-xxxs;
        // }
    }
  
    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

//Characteristics Block
.characteristicsBlock {
  @include info-blocks();
  position: relative;
  color: #000000;


  @media (max-width: 550px) {
    font-size: $font-size-xxs;
  }

  @media (max-width: 480px) {
    font-size: $font-size-s;
  }
  // // Firefox - persistent scrollbar
  // scrollbar-width: thin; 
  // scrollbar-color: #888 #f0f0f0;

  // // WebKit (Chrome, Safari, Edge) - persistent scrollbar
  // &::-webkit-scrollbar {
  //   width: 8px; // Slightly wider for better usability
  //   background-color: #f0f0f0; // Track color
  // }
  
  // &::-webkit-scrollbar-thumb {
  //   background: #888;
  //   border-radius: 4px;
  //   border: 1px solid #f0f0f0; // Adds subtle border for better visibility
  // }
  
  // &::-webkit-scrollbar-thumb:hover {
  //   background: #666; // Darker on hover for better interaction
  // }
  
  // &::-webkit-scrollbar-track {
  //   background: #f0f0f0; // Explicit track color
  //   border-radius: 4px;
  // }
}

.characteristicContent{
  max-height: 350px;
  overflow-y: auto; 
  padding: 12px;
  margin-right: 8px; 
}

.characteristicContent::-webkit-scrollbar {
  display: none;
}

.customScrollbar {
  position: absolute;
  top: 0;
  right: 2px;
  width: 6px;
  height: 100%;
  background: transparent;
}

.customThumb {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background: #ff0000;
  border-radius: 3px;
  cursor: pointer;
}

.AnimalCharacter{
    @include element-flex(flex, row);
    gap: 6px;
    padding: 12px;
    @media (max-width: 550px) {
        padding: 10px;
        gap: 3px;
        font-size: $font-size-xxs;
    }
    // @media (max-width: 480px) {
    //     gap: 5px;
    //     font-size: $font-size-xxxs;
    // }
    @media (max-width: 480px) {
        gap: 6px;
        font-size: $font-size-s;
    }
}
.caracteristicImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: $radius-s;
    border: 1px solid #DCDFD8; 
    gap: 12px;
    @media (max-width: 550px) {
        gap: 8px;
    }
    // @media (max-width: 480px) {
    //     padding: 3px;
    //     width: 22px;
    //     height: 22px;
    //     border-radius: 8px;
    //   }
}

//Map Block
.mapBlock{
    display: flex;
    flex-wrap: wrap; 
    height: auto;
    min-height: 350px; //
    width: 100%;
    min-width: 0px;  
    flex: 1 1 0;
    @media (max-width: 480px) {
        height: 350px;
      }
}
.mapBlock iframe{
    border-radius: $radius-m;
}

.infoTextBlock, .myFamilly {
    width: 100%;
    box-sizing: border-box; 
    border-radius: $radius-m;
    font-size: $font-size-xs;
    background-color: $color-white;
}
.infoTextBlock{
    margin-top: 24px;
}
.myFamilly{
    margin: 24px 0; 
}

.recomendation {
    margin-left: auto;  
}

.related .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.related .title h4{
    font-size: 24px;
    font-weight: 500;

    @media (max-width: 768px) {
        font-size: 18px;
    }
    @media (max-width: 480px) {
        font-size: $font-size-xs;
    }
}

.related .title p{
    color: #798177;
    @media (max-width: 480px) {
        font-size: $font-size-xxs;
    }
}

.related .title p:hover {
    text-decoration: underline;
    cursor: pointer;
  }

.related {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 15px;
    border-radius: 16px;
    min-width: 300px; 
    margin-top: 20px;
    color: #000000;

    @media (max-width: 768px) {
        font-size: 12px;
        min-width: 250px; 
    }
}

.comments {
  display: flex;
  flex-direction: column;
  max-height: 300px;  
  overflow-y: auto;
  padding-right: $spacing-2;
  gap: $spacing-5;

  @media (max-width: 600px) {
    max-height: 25vh;
  }

  @media (max-width: 480px) {
    max-height: 20vh;
  }

  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
}

.relatedAnimals {
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100%;
    flex-wrap: nowrap; 
}

.relatedAnimals > * { 
    flex: 0 0 300px; 
    max-width: 300px;
}

.relatedAnimals::-webkit-scrollbar {
    height: 5px;
}

.relatedAnimals::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
}

.relatedAnimals::-webkit-scrollbar-track {
    background: transparent;
}