@import 'styles';

.container {
  @include element-flex(column, flex-start, stretch);
  gap: $spacing-7;
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: $spacing-4;
  width: 100%;
}
