@import 'styles';

.container {
  display: flex;
  @include element-flex(column, flex-start, stretch);
  gap: $spacing-4;
  width: 100%;
}

.buttons {
  @include element-flex(row, space-between, center);
  gap: $spacing-4;
}

// .filters {
//   visibility: hidden;
//   pointer-events: none;
//   overflow: hidden;
//   transition: $transition-main;

//   &.show {
//     display: block;
//     overflow: visible;
//     visibility: visible;
//     pointer-events: all;
//   }
// }

.filters {
  max-height: 0rem;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;
  pointer-events: none;
  transition: $transition-main;

  &.show {
    // max-height: 100rem;
    max-height: 300rem;
    overflow: visible;
    visibility: visible;
    pointer-events: all;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: $spacing-4;

  margin-bottom: 20px;
}


.map {
  max-height: 0;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;

  &.show {
    margin-top: 100px;
    max-height: 100rem;
    overflow: visible;
    visibility: visible;
    pointer-events: all;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 570px) {
  .filters.show {
    margin-bottom: $spacing-6; // give enough breathing room
  }

  .list {
    margin-top: 0;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 100%; // responsive cards
    max-width: 100%;
  }
}

