@import 'styles';

.container {
  width: 100%;
  min-height: 100vh;
  @include flex-center;
  padding: $spacing-6;

  @include mobileWidth {
    width: 100%;
    padding: $spacing-3;
  }

    // background-image: url('/src/assets/gompet.png');
    background-repeat: repeat;
    background-size: 80px 90px;
    background-position: 0, 0, 147px, 133px;
}

.logo {
  margin: 0 auto $spacing-6;
}

.main {
  @include element-flex(column, flex-start, center);
}